* {
    font-family: Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}


body {
    background-image:url("../assets/Desert-Evening-Desktop-Wallpaper.png");
    background-attachment: fixed;
    background-size: 2650px 1440px;
    -webkit-background-size: 2650px 1440px;
}

.jumboText {
    color: white;
}
